<%- include("partials/header") -%>

    <h1 class="new-post"> Welcome to the Blog!</h1>
    <div class="new-post">
        <a href="/create"><button type=" button" class="btn btn-primary btn-lg button-color">Create a New Post</button></a>
    </div>

    <%- include("partials/footer") -%>